
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-569789348044604440.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-569789348044604440.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-569789348044604440.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-569789348044604440.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-569789348044604440.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-569789348044604440.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-569789348044604440.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-569789348044604440.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-569789348044604440.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-569789348044604440.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-569789348044604440.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-569789348044604440.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-569789348044604440.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-569789348044604440.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-569789348044604440.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-569789348044604440.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-569789348044604440.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-569789348044604440.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-569789348044604440.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-569789348044604440.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-569789348044604440.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-569789348044604440.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-569789348044604440.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-569789348044604440.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-569789348044604440.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-569789348044604440.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-569789348044604440.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-569789348044604440.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-569789348044604440.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-569789348044604440.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-569789348044604440.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-569789348044604440.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-569789348044604440.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-569789348044604440.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-569789348044604440.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-569789348044604440.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-569789348044604440.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-569789348044604440.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-569789348044604440.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-569789348044604440.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-569789348044604440.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-569789348044604440.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-569789348044604440.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-569789348044604440.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-569789348044604440.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-569789348044604440.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-569789348044604440.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-569789348044604440.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-569789348044604440.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-569789348044604440.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-569789348044604440.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-569789348044604440.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-569789348044604440.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-569789348044604440.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-569789348044604440.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-569789348044604440.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-569789348044604440.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-569789348044604440.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-569789348044604440.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-569789348044604440.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-569789348044604440.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-569789348044604440.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-569789348044604440.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-569789348044604440.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-569789348044604440.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-569789348044604440.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-569789348044604440.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-569789348044604440.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-569789348044604440.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-569789348044604440.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-569789348044604440.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-569789348044604440.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-569789348044604440.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-569789348044604440.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-569789348044604440.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-569789348044604440.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-569789348044604440.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-569789348044604440.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-569789348044604440.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-569789348044604440 .gp-relative{position:relative}.gps-569789348044604440 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-569789348044604440 .gp-mb-0{margin-bottom:0}.gps-569789348044604440 .gp-flex{display:flex}.gps-569789348044604440 .gp-inline-flex{display:inline-flex}.gps-569789348044604440 .gp-grid{display:grid}.gps-569789348044604440 .\!gp-hidden{display:none!important}.gps-569789348044604440 .gp-hidden{display:none}.gps-569789348044604440 .gp-h-full{height:100%}.gps-569789348044604440 .gp-max-w-full{max-width:100%}.gps-569789348044604440 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-569789348044604440 .gp-flex-col{flex-direction:column}.gps-569789348044604440 .gp-items-center{align-items:center}.gps-569789348044604440 .gp-justify-center{justify-content:center}.gps-569789348044604440 .gp-overflow-hidden{overflow:hidden}.gps-569789348044604440 .gp-break-words{overflow-wrap:break-word}.gps-569789348044604440 .gp-text-center{text-align:center}.gps-569789348044604440 .gp-no-underline{text-decoration-line:none}.gps-569789348044604440 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-569789348044604440 .gp-duration-200{transition-duration:.2s}.gps-569789348044604440 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-569789348044604440 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-569789348044604440 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-569789348044604440 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-569789348044604440 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-569789348044604440 .tablet\:\!gp-hidden{display:none!important}.gps-569789348044604440 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-569789348044604440 .mobile\:\!gp-hidden{display:none!important}.gps-569789348044604440 .mobile\:gp-hidden{display:none}}.gps-569789348044604440 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-569789348044604440 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/asap/v34/KFOOCniXp96a4Tc2DaTeuDAoKsE617JFc49knOIYdjTYkqUsLg.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM70w-.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--pos:fixed;--pos-tablet:fixed;--top:88%;--top-mobile:90%;--top-tablet:89%;--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gkqw_VYtYh"}' data-id="gkqw_VYtYh" id="gkqw_VYtYh" data-same-height-subgrid-container class="gkqw_VYtYh gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_ARTICLE;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:32px;--pb:32px;--pt-mobile:20px;--pb-mobile:20px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="ggr5nNBo0p gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"https://rtrk.gartenpfad.com/click","target":"_self","type":"open-page"}}'
      style="--bottom-tablet:90%;--pos-tablet:static;--top-tablet:90%"
      class="gp-flex gp-flex-col"
    >
      <div style="--pageType:GP_ARTICLE;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-tablet:0px;--ml-tablet:0px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center" >
        <style>[data-id="gMqZR3jAut"].gp-button-base::before, [data-id="gMqZR3jAut-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      
  
    }
  
      
  [data-id="gMqZR3jAut"]:hover::before, [data-id="gMqZR3jAut-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gMqZR3jAut" dataId="gMqZR3jAut" data-state="idle" aria-label="<p><span style='color:#EFEFEF;font-size:21px;'><strong>Verfügbarkeit prüfen 👉</strong></span></p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>"
          
          href="https://rtrk.gartenpfad.com/click" target="_self"
          style="--w:450px;--w-tablet:50%;--w-mobile:70%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:8px;--pb-tablet:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--hvr-bblr:20px;--hvr-bbrr:20px;--hvr-btlr:20px;--hvr-btrr:20px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#44A714;--bg:#44A714;--c:rgb(246, 246, 246);--ff:var(--g-font-Asap, 'Asap'), var(--g-font-body, body);--weight:400;--size:22px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
          class="gMqZR3jAut gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Asap, 'Asap'), var(--g-font-body, body);--weight:400;--size:22px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggMqZR3jAut_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
      <style id="custom-css-gkqw_VYtYh">
        .gkqw_VYtYh {
    display: none;
}
      </style>
    
      <script id="custom-js-gkqw_VYtYh">
        try {
          document.addEventListener('scroll', function() {
    var targetSection = document.querySelector('.gkqw_VYtYh');
    
    // Calculate 20% of the window height
    var scrollThreshold = window.innerHeight * 0.7;

    // Check if the user has scrolled past 20% of the viewport height
    if (window.scrollY > scrollThreshold) {
        targetSection.style.display = 'block';  // Show the section
    } else {
        targetSection.style.display = 'none';   // Hide the section
    }
});
        } catch(err){}
      </script>
    
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-569789348044604440 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c39dbb-40/apps/gempages-cro/app/shopify/edit?pageType=GP_ARTICLE&editorId=569789348027827224&sectionId=569789348044604440)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggMqZR3jAut_label","label":"ggMqZR3jAut_label","default":"<p><span style=\"color:#EFEFEF;font-size:21px;\"><strong>Verfügbarkeit prüfen 👉</strong></span></p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}