
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-604256736144131041.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-604256736144131041.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-604256736144131041.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-604256736144131041.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-604256736144131041.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-604256736144131041.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-604256736144131041.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-604256736144131041.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-604256736144131041.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-604256736144131041.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-604256736144131041.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-604256736144131041.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-604256736144131041.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-604256736144131041.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-604256736144131041.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-604256736144131041.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-604256736144131041.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-604256736144131041.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-604256736144131041.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-604256736144131041.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-604256736144131041.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-604256736144131041.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-604256736144131041.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-604256736144131041.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-604256736144131041.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-604256736144131041.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-604256736144131041.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-604256736144131041.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-604256736144131041.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-604256736144131041.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-604256736144131041.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-604256736144131041.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-604256736144131041.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-604256736144131041.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-604256736144131041.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-604256736144131041.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-604256736144131041.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-604256736144131041.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-604256736144131041.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-604256736144131041.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-604256736144131041.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-604256736144131041.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-604256736144131041.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-604256736144131041.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-604256736144131041.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-604256736144131041.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-604256736144131041.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-604256736144131041.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-604256736144131041.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-604256736144131041.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-604256736144131041.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-604256736144131041.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-604256736144131041.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-604256736144131041.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-604256736144131041.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-604256736144131041.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-604256736144131041.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-604256736144131041.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-604256736144131041.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-604256736144131041.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-604256736144131041.gps.gpsil [style*="--t-tablet:"]{transform:var(--t-tablet)}.gps-604256736144131041.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-604256736144131041.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-604256736144131041.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-604256736144131041.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-604256736144131041.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-604256736144131041.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-604256736144131041.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-604256736144131041.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-604256736144131041.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-604256736144131041.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-604256736144131041.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-604256736144131041.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-604256736144131041.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-604256736144131041.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-604256736144131041.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-604256736144131041.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-604256736144131041.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-604256736144131041.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-604256736144131041.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-604256736144131041.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-604256736144131041.gps.gpsil [style*="--t-mobile:"]{transform:var(--t-mobile)}.gps-604256736144131041.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-604256736144131041 .gp-relative{position:relative}.gps-604256736144131041 .gp-sticky{position:sticky}.gps-604256736144131041 .gp-flex{display:flex}.gps-604256736144131041 .gp-inline-flex{display:inline-flex}.gps-604256736144131041 .\!gp-hidden{display:none!important}.gps-604256736144131041 .gp-hidden{display:none}.gps-604256736144131041 .gp-h-full{height:100%}.gps-604256736144131041 .gp-max-w-full{max-width:100%}.gps-604256736144131041 .gp-flex-col{flex-direction:column}.gps-604256736144131041 .gp-items-center{align-items:center}.gps-604256736144131041 .gp-justify-center{justify-content:center}.gps-604256736144131041 .gp-overflow-hidden{overflow:hidden}.gps-604256736144131041 .gp-break-words{overflow-wrap:break-word}.gps-604256736144131041 .gp-text-center{text-align:center}.gps-604256736144131041 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-604256736144131041 .gp-no-underline{text-decoration-line:none}.gps-604256736144131041 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-604256736144131041 .gp-duration-200{transition-duration:.2s}.gps-604256736144131041 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-604256736144131041 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-604256736144131041 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-604256736144131041 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-604256736144131041 .tablet\:\!gp-hidden{display:none!important}.gps-604256736144131041 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-604256736144131041 .mobile\:\!gp-hidden{display:none!important}.gps-604256736144131041 .mobile\:gp-hidden{display:none}}.gps-604256736144131041 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnEGE.ttf) format('truetype');
}


@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtgFgEGE.ttf) format('truetype');
}
</style>
  
    
    
    
    <gp-sticky
    data-id="gxrHcAS_ZJ"
      gp-data='{"uid":"gxrHcAS_ZJ","setting":{"display":{"desktop":"always","tablet":"always","mobile":"always"}},"advanced":{"d":{"desktop":false,"mobile":true,"tablet":true}}}'
      id="gxrHcAS_ZJ"
      data-id="gxrHcAS_ZJ"
      class="sticky-wrapper  gxrHcAS_ZJ undefined {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
      style="--w:100%;margin:0 auto;--left:50%;--t:translateX(-50%);--left-tablet:50%;--t-tablet:translateX(-50%);--left-mobile:50%;--t-mobile:translateX(-50%);--top:auto;--bottom:0;--pos:fixed;--d:block;--top-tablet:auto;--bottom-tablet:0;--pos-tablet:fixed;--d-tablet:block;--top-mobile:auto;--bottom-mobile:0;--pos-mobile:fixed;--d-mobile:block;z-index:999"
    >
      <style>.drawer-page-content {
       transform: none !important;
      -webkit-transform: none !important;
  }</style>
      <div  style="--m:0 auto;--pt-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pl-mobile:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--shadow:8.485281374238571px 8.48528137423857px 12px 0px rgba(18, 18, 18, 0.2);--d:none;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_ARTICLE;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:#FFFFFF;--bgc-mobile:#00000000;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll">
        <div
      data-same-height-display-contents
      
      class="gL3FzFR4nl gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"https://gartenort.de/products/forever-rose-lampe","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_ARTICLE;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:5px;--mt-mobile:5px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center" >
        <style>[data-id="gktOsfZ7-q"].gp-button-base::before, [data-id="gktOsfZ7-q-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      
  
    }
  
      
  [data-id="gktOsfZ7-q"]:hover::before, [data-id="gktOsfZ7-q-interaction"]:hover::before {
    border-style: none;
  
  
  
    
  }</style>
        
        <a
          data-id="gktOsfZ7-q" dataId="gktOsfZ7-q" data-state="idle" aria-label="<p><span style='color:#FFFFFF;font-size:16px;'><strong>Zur letzten Kollektion&nbsp;</strong></span></p>"
          
          href="https://gartenort.de/products/forever-rose-lampe" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:70%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:15px;--pr:15px;--pt:15px;--pb:15px;--pl-mobile:50px;--pr-mobile:50px;--pt-mobile:10px;--pb-mobile:10px;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--hvr-bblr:30px;--hvr-bbrr:30px;--hvr-btlr:30px;--hvr-btrr:30px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#699E04;--bg:#699E04;--hvr-c:#EFEFEF;--c:var(--g-c-text-3, text-3);--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--tt:uppercase"
          class="gktOsfZ7-q gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--tt:uppercase;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggktOsfZ7-q_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>
      </div>
    </gp-sticky>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-sticky-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      <style id="custom-css-gxrHcAS_ZJ">
        .gxrHcAS_ZJ {

}
.gps.gxrHcAS_ZJ {
    display: none;
}
      </style>
    
      <script id="custom-js-gxrHcAS_ZJ">
        try {
          //const currentElement = document.getElementsByClassName('gxrHcAS_ZJ');
document.addEventListener('scroll', function() {
    var targetSection = document.querySelector('.gxrHcAS_ZJ');
    
    // Calculate 20% of the window height
    var scrollThreshold = window.innerHeight * 0.8;

    // Check if the user has scrolled past 20% of the viewport height
    if (window.scrollY > scrollThreshold) {
        targetSection.style.display = 'block';  // Show the section
    } else {
        targetSection.style.display = 'none';   // Hide the section
    }
});
        } catch(err){}
      </script>
    
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-604256736144131041 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c39dbb-40/apps/gempages-cro/app/shopify/edit?pageType=GP_ARTICLE&editorId=604256736043336673&sectionId=604256736144131041)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggktOsfZ7-q_label","label":"ggktOsfZ7-q_label","default":"<p><span style=\"color:#FFFFFF;font-size:16px;\"><strong>Zur letzten Kollektion&nbsp;</strong></span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}