

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-504873849234392170.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-504873849234392170.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-504873849234392170.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-504873849234392170.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-504873849234392170.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-504873849234392170.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-504873849234392170.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-504873849234392170.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-504873849234392170.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-504873849234392170.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-504873849234392170.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-504873849234392170.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-504873849234392170.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-504873849234392170.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-504873849234392170.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-504873849234392170.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-504873849234392170.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-504873849234392170.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-504873849234392170.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-504873849234392170.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-504873849234392170.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-504873849234392170.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-504873849234392170.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-504873849234392170.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-504873849234392170.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-504873849234392170.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-504873849234392170.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-504873849234392170.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-504873849234392170.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-504873849234392170.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-504873849234392170.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-504873849234392170.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-504873849234392170.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-504873849234392170.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-504873849234392170.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-504873849234392170.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-504873849234392170.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-504873849234392170.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-504873849234392170.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-504873849234392170.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-504873849234392170.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-504873849234392170.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-504873849234392170.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-504873849234392170.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-504873849234392170.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-504873849234392170.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-504873849234392170.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-504873849234392170.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-504873849234392170.gps.gpsil [style*="--z:"]{z-index:var(--z)}@media only screen and (max-width:1024px){.gps-504873849234392170.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-504873849234392170.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-504873849234392170.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-504873849234392170.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-504873849234392170.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-504873849234392170.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-504873849234392170.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-504873849234392170.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-504873849234392170.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-504873849234392170.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-504873849234392170.gps.gpsil [style*="--z-tablet:"]{z-index:var(--z-tablet)}}@media only screen and (max-width:767px){.gps-504873849234392170.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-504873849234392170.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-504873849234392170.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-504873849234392170.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-504873849234392170.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-504873849234392170.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-504873849234392170.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-504873849234392170 .gp-relative{position:relative}.gps-504873849234392170 .gp-z-1{z-index:1}.gps-504873849234392170 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-504873849234392170 .gp-mb-0{margin-bottom:0}.gps-504873849234392170 .gp-flex{display:flex}.gps-504873849234392170 .gp-inline-flex{display:inline-flex}.gps-504873849234392170 .gp-grid{display:grid}.gps-504873849234392170 .\!gp-hidden{display:none!important}.gps-504873849234392170 .gp-hidden{display:none}.gps-504873849234392170 .gp-h-full{height:100%}.gps-504873849234392170 .gp-max-w-full{max-width:100%}.gps-504873849234392170 .gp-shrink-0{flex-shrink:0}.gps-504873849234392170 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-504873849234392170 .gp-flex-col{flex-direction:column}.gps-504873849234392170 .gp-items-center{align-items:center}.gps-504873849234392170 .gp-justify-center{justify-content:center}.gps-504873849234392170 .gp-gap-y-0{row-gap:0}.gps-504873849234392170 .gp-overflow-hidden{overflow:hidden}.gps-504873849234392170 .gp-break-words{overflow-wrap:break-word}.gps-504873849234392170 .gp-rounded-none{border-radius:0}.gps-504873849234392170 .gp-text-center{text-align:center}.gps-504873849234392170 .gp-text-g-bg-3{color:var(--g-c-bg-3)}.gps-504873849234392170 .gp-no-underline{text-decoration-line:none}.gps-504873849234392170 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-504873849234392170 .gp-duration-200{transition-duration:.2s}.gps-504873849234392170 .gp-duration-300{transition-duration:.3s}.gps-504873849234392170 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-504873849234392170 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-504873849234392170 .hover\:gp-text-g-bg-3:hover{color:var(--g-c-bg-3)}}.gps-504873849234392170 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-504873849234392170 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-504873849234392170 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-504873849234392170 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-504873849234392170 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-504873849234392170 .tablet\:\!gp-hidden{display:none!important}.gps-504873849234392170 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-504873849234392170 .mobile\:\!gp-hidden{display:none!important}.gps-504873849234392170 .mobile\:gp-hidden{display:none}}.gps-504873849234392170 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-504873849234392170 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-504873849234392170 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-504873849234392170 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-504873849234392170 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-504873849234392170 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--bottom-tablet:0px;--pos-tablet:fixed;--z-tablet:9;--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gMU_LeFAXa" data-id="gMU_LeFAXa"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pl:15px;--pb:0px;--pr:15px;--pt-tablet:var(--g-s-xs);--pl-tablet:15px;--pb-tablet:var(--g-s-xs);--pr-tablet:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gMU_LeFAXa gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gAiIYChxIz gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:left"
    
  >
    <style>
    .gTAbLyi1p3.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      
    }

    .gTAbLyi1p3:hover::before {
      
      
    }

    .gTAbLyi1p3:hover .gp-button-icon {
      color: var(--g-c-bg-3, bg-3);
    }

     .gTAbLyi1p3 .gp-button-icon {
      color: var(--g-c-bg-3, bg-3);
    }

    .gTAbLyi1p3:hover .gp-button-price {
      color: var(--g-c-bg-3, bg-3);
    }

    .gTAbLyi1p3 .gp-button-price {
      color: var(--g-c-bg-3, bg-3);
    }

    .gTAbLyi1p3 .gp-product-dot-price {
       color: var(--g-c-bg-3, bg-3);
    }

    .gTAbLyi1p3:hover .gp-product-dot-price {
      color: var(--g-c-bg-3, bg-3);
    }
  </style>
    <a
      href="https://deinegartenprofis.de/products/hand?variant=47768904139091" target="_self" data-id="gTAbLyi1p3" aria-label="HIER KAUFEN"
      
      data-state="idle"
      class="gTAbLyi1p3 gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none hover:gp-text-g-bg-3 gp-text-g-bg-3 gp-text-center"
      style="--hvr-bg:#52C41A;--bg:#44A714;--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--shadow:0.0698096257491335px 3.999390780625565px 8px 0px rgba(0, 0, 0, 0.25);--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:16px;--pb-mobile:16px;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--hvr-c:var(--g-c-bg-3, bg-3);--c:var(--g-c-bg-3, bg-3);--size:19px;--size-tablet:19px;--size-mobile:16px;--lh:130%;--fs:normal;--ff:var(--g-font-body, 'body'), var(--g-font-heading, heading);--weight:600;--ls:normal;--lh-tablet:130%"
    >
      
    <div
    class="gp-inline-flex gp-flex-row-reverse">
    <span
        class="gp-inline-flex gp-button-icon gp-transition-colors gp-duration-300 gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]/button:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"> 	<path fill="#FBC435" strokeLinecap="round" strokeLinejoin="round" fill="#FBC435" d="M512 199.652c0 23.625-20.65 43.826-44.8 43.826h-99.851c16.34 17.048 18.346 49.766-6.299 70.944 14.288 22.829 2.147 53.017-16.45 62.315C353.574 425.878 322.654 448 272 448c-2.746 0-13.276-.203-16-.195-61.971.168-76.894-31.065-123.731-38.315C120.596 407.683 112 397.599 112 385.786V214.261l.002-.001c.011-18.366 10.607-35.889 28.464-43.845 28.886-12.994 95.413-49.038 107.534-77.323 7.797-18.194 21.384-29.084 40-29.092 34.222-.014 57.752 35.098 44.119 66.908-3.583 8.359-8.312 16.67-14.153 24.918H467.2c23.45 0 44.8 20.543 44.8 43.826zM96 200v192c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24V200c0-13.255 10.745-24 24-24h48c13.255 0 24 10.745 24 24zM68 368c0-11.046-8.954-20-20-20s-20 8.954-20 20 8.954 20 20 20 20-8.954 20-20z" /> </svg></span>
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:19px;--size-tablet:19px;--size-mobile:16px;--hvr-c:var(--g-c-bg-3, bg-3);--c:var(--g-c-bg-3, bg-3)"
      >
        HIER KAUFEN
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-504873849234392170 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c39dbb-40/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=504817865476539271&sectionId=504873849234392170)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
