
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-574964754259641573.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-574964754259641573.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-574964754259641573.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-574964754259641573.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-574964754259641573.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-574964754259641573.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-574964754259641573.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-574964754259641573.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-574964754259641573.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-574964754259641573.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-574964754259641573.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-574964754259641573.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-574964754259641573.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-574964754259641573.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-574964754259641573.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-574964754259641573.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-574964754259641573.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-574964754259641573.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-574964754259641573.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-574964754259641573.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-574964754259641573.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-574964754259641573.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-574964754259641573.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-574964754259641573.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-574964754259641573.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-574964754259641573.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-574964754259641573.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-574964754259641573.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-574964754259641573.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-574964754259641573.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-574964754259641573.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-574964754259641573.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-574964754259641573.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-574964754259641573.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-574964754259641573.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-574964754259641573.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-574964754259641573.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-574964754259641573.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-574964754259641573.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-574964754259641573.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-574964754259641573.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-574964754259641573.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-574964754259641573.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-574964754259641573.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-574964754259641573.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-574964754259641573.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-574964754259641573.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-574964754259641573.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-574964754259641573.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-574964754259641573.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-574964754259641573.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-574964754259641573 .gp-relative{position:relative}.gps-574964754259641573 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-574964754259641573 .gp-mb-0{margin-bottom:0}.gps-574964754259641573 .gp-flex{display:flex}.gps-574964754259641573 .gp-grid{display:grid}.gps-574964754259641573 .\!gp-hidden{display:none!important}.gps-574964754259641573 .gp-hidden{display:none}.gps-574964754259641573 .gp-max-w-full{max-width:100%}.gps-574964754259641573 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-574964754259641573 .gp-flex-col{flex-direction:column}.gps-574964754259641573 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-574964754259641573 .gp-duration-200{transition-duration:.2s}.gps-574964754259641573 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-574964754259641573 .tablet\:\!gp-hidden{display:none!important}.gps-574964754259641573 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-574964754259641573 .mobile\:\!gp-hidden{display:none!important}.gps-574964754259641573 .mobile\:gp-hidden{display:none}}.gps-574964754259641573 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:100%;--pl:none;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:none;--pr:none;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"color":"rgb(237, 239, 243)","type":"color"}},"uid":"i2la32d7a7f2a"}' data-id="i2la32d7a7f2a" id="i2la32d7a7f2a" data-same-height-subgrid-container class="i2la32d7a7f2a gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_ARTICLE;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:30px;--pl-mobile:30px;--pb-mobile:30px;--pr-mobile:30px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-mobile:100%;--bgc:rgb(237, 239, 243);--bgi:url();--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="c-w-i2la32d7a7f2a gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"w-i2la32d7a7f2a"}' data-id="w-i2la32d7a7f2a" id="w-i2la32d7a7f2a" data-same-height-subgrid-container class="w-i2la32d7a7f2a gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_ARTICLE;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="i2l1849c2ade5 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="BRcVdlQhOXpC"
        class="BRcVdlQhOXpC"
        style="--ta:center;--pageType:GP_ARTICLE;--mt:0px;--ml:0px;--mb:8px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755764909675"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:70%;--w-tablet:70%;--w-mobile:100%;--tdt:auto;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:14px;--size-mobile:12px;--c:rgb(50, 50, 51);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gBRcVdlQhOXpC_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v23/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2Q.woff) format('woff');
}
/* hebrew */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v23/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGSV2YOrrM95Dylg.woff) format('woff');
  unicode-range: U+0307-0308, U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v23/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGiV2YOrrM95Dylg.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v23/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2YOrrM95Dw.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-574964754259641573 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c39dbb-40/apps/gempages-cro/app/shopify/edit?pageType=GP_ARTICLE&editorId=574964754158716133&sectionId=574964754259641573)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gBRcVdlQhOXpC_text","label":"gBRcVdlQhOXpC_text","default":"<p>Copyright © 2025</p><p>DIESER BEITRAG IST WERBUNG UND KEIN AKTUELLER NACHRICHTENARTIKEL, BLOG ODER EINE AKTUALISIERTE MARKETINGMITTEILUNG ZUM VERBRAUCHERSCHUTZ: Diese Website ist ein Marktplatz. Wir weisen Sie hiermit darauf hin, dass der Eigentümer eine finanzielle Verbindung zu den auf der Website beworbenen Produkten und Dienstleistungen hat. Der Eigentümer erhält eine Zahlung, wenn ein qualifiziertes Kaufangebot vermittelt wird, aber das ist auch schon alles. OFFENLEGUNG DER WERBUNG: Diese Website und die Produkte und Dienstleistungen, auf die auf der Website verwiesen wird, sind Werbemarktplätze. Bei dieser Website handelt es sich um eine Werbeseite und nicht um eine Nachrichtenpublikation. Alle auf dieser Website verwendeten Fotos von Personen sind Modelle. Der Eigentümer dieser Website und der Produkte und Dienstleistungen, auf die auf dieser Website verwiesen wird, bieten lediglich einen Dienst an, über den Verbraucher Informationen erhalten und vergleichen können<span style=\"font-size:inherit;\">.</span></p><p><br>&nbsp;</p><p><a href=\"https://c39dbb-40.myshopify.com/pages/impressum\"><span style=\"color:rgb(0,0,0);\">Impressum</span></a><span style=\"color:rgb(0,0,0);\"> &amp; </span><a href=\"https://c39dbb-40.myshopify.com/pages/contact\"><span style=\"color:rgb(0,0,0);\">Kontakt</span></a></p><p><br>&nbsp;</p><p><a href=\"https://c39dbb-40.myshopify.com/pages/datenschutz\">Datenschutzbestimmungen</a></p><p><br>&nbsp;</p><p><a href=\"https://c39dbb-40.myshopify.com/pages/agb\">Nutzungsbedingungen</a></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  