
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-576699712674202363.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-576699712674202363.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-576699712674202363.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-576699712674202363.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-576699712674202363.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-576699712674202363.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-576699712674202363.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-576699712674202363.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-576699712674202363.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-576699712674202363.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-576699712674202363.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-576699712674202363.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-576699712674202363.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-576699712674202363.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-576699712674202363.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-576699712674202363.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-576699712674202363.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-576699712674202363.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-576699712674202363.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-576699712674202363.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-576699712674202363.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-576699712674202363.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-576699712674202363.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-576699712674202363.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-576699712674202363.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-576699712674202363.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-576699712674202363.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-576699712674202363.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-576699712674202363.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-576699712674202363.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-576699712674202363.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-576699712674202363.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-576699712674202363.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-576699712674202363.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-576699712674202363.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-576699712674202363.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-576699712674202363.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-576699712674202363.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-576699712674202363.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-576699712674202363.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-576699712674202363.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-576699712674202363.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-576699712674202363.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-576699712674202363.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-576699712674202363 .gp-relative{position:relative}.gps-576699712674202363 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-576699712674202363 .gp-mb-0{margin-bottom:0}.gps-576699712674202363 .gp-inline-block{display:inline-block}.gps-576699712674202363 .gp-flex{display:flex}.gps-576699712674202363 .gp-grid{display:grid}.gps-576699712674202363 .\!gp-hidden{display:none!important}.gps-576699712674202363 .gp-hidden{display:none}.gps-576699712674202363 .gp-h-auto{height:auto}.gps-576699712674202363 .gp-h-full{height:100%}.gps-576699712674202363 .gp-w-full{width:100%}.gps-576699712674202363 .gp-max-w-full{max-width:100%}.gps-576699712674202363 .gp-flex-none{flex:none}.gps-576699712674202363 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-576699712674202363 .gp-flex-col{flex-direction:column}.gps-576699712674202363 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-576699712674202363 .gp-duration-200{transition-duration:.2s}.gps-576699712674202363 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-576699712674202363 .tablet\:\!gp-hidden{display:none!important}.gps-576699712674202363 .tablet\:gp-hidden{display:none}.gps-576699712674202363 .tablet\:gp-h-auto{height:auto}.gps-576699712674202363 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-576699712674202363 .mobile\:\!gp-hidden{display:none!important}.gps-576699712674202363 .mobile\:gp-hidden{display:none}.gps-576699712674202363 .mobile\:gp-h-auto{height:auto}.gps-576699712674202363 .mobile\:gp-flex-none{flex:none}}.gps-576699712674202363 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:100%;--pl:none;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:none;--pr:none;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"color":"rgb(246, 246, 247)","type":"color"}},"uid":"i2lda73d416f5"}' data-id="i2lda73d416f5" id="i2lda73d416f5" data-same-height-subgrid-container class="i2lda73d416f5 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_ARTICLE;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:21px;--pl:0px;--pb:21px;--pr:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-mobile:100%;--bgc:rgb(246, 246, 247);--bgi:url();--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="c-w-i2lda73d416f5 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"w-i2lda73d416f5"}' data-id="w-i2lda73d416f5" id="w-i2lda73d416f5" data-same-height-subgrid-container class="w-i2lda73d416f5 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_ARTICLE;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:16px;--pb:0px;--pr:16px;--cg:15px;--cg-tablet:32px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="c-NPxzpdrXIAyD gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="NPxzpdrXIAyD"
      style="--pageType:GP_ARTICLE;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1755764905964 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto NPxzpdrXIAyD"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="300" height="90" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAwIiBoZWlnaHQ9IjkwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMDAtOTAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMwMCIgaGVpZ2h0PSI5MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzAwIiBoZWlnaHQ9IjkwIiBmaWxsPSJ1cmwoI2ctMzAwLTkwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzAwIiB0bz0iMzAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" base-src="https://ucarecdn.com/80e110a3-36ba-47ff-a3d3-509203184076/-/format/auto/-/preview/480x480/-/quality/lighter/1.png" data-src="https://ucarecdn.com/80e110a3-36ba-47ff-a3d3-509203184076/-/format/auto/-/preview/480x480/-/quality/lighter/1.png" data-srcset="https://ucarecdn.com/80e110a3-36ba-47ff-a3d3-509203184076/-/format/auto/-/preview/480x480/-/quality/lighter/1.png"
      id=""
      style="--w:200px;--w-tablet:200px;--w-mobile:200px;--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:300/90;--aspect-tablet:300/90;--aspect-mobile:300/90;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload gp_force_load"
    />
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gN_z9Dio9H gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gnLSwQbc_f"
      style="--pageType:GP_ARTICLE;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:right"
      class="gp-group/image gp-relative force-publish-1755764905964 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gnLSwQbc_f"
    >
      <div
        
        style="border-radius:inherit;--jc:right"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="410" height="57" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDEwIiBoZWlnaHQ9IjU3IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy00MTAtNTciPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjQxMCIgaGVpZ2h0PSI1NyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDEwIiBoZWlnaHQ9IjU3IiBmaWxsPSJ1cmwoI2ctNDEwLTU3KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNDEwIiB0bz0iNDEwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" base-src="https://ucarecdn.com/6da086eb-f0b8-4463-b165-068f8514f0b9/-/format/auto/-/preview/480x480/-/quality/lighter/Im%20Trend%20in%20Deutschland.png" data-src="https://ucarecdn.com/6da086eb-f0b8-4463-b165-068f8514f0b9/-/format/auto/-/preview/480x480/-/quality/lighter/Im%20Trend%20in%20Deutschland.png" data-srcset="https://ucarecdn.com/6da086eb-f0b8-4463-b165-068f8514f0b9/-/format/auto/-/preview/480x480/-/quality/lighter/Im%20Trend%20in%20Deutschland.png"
      id=""
      style="--w:200px;--w-tablet:200px;--w-mobile:200px;--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:410/57;--aspect-tablet:410/57;--aspect-mobile:410/57;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload gp_force_load"
    />
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-576699712674202363 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c39dbb-40/apps/gempages-cro/app/shopify/edit?pageType=GP_ARTICLE&editorId=576699712590054139&sectionId=576699712674202363)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  